* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #6a7695;
  line-height: 1.8;
  font-weight: 400;
  font-size: 16px;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.5;
  color: #263b5e;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}

#root {
  flex-wrap: wrap;
  gap: 4em;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@font-face {
  font-family: American Typewriter;
  src: url(../fonts/AmericanTypewriterBQ-Bold.otf);
}

.main-container {
  flex: 1;
}

.header_section .container-fluid {
  padding: 0;
}

.header_section {
  margin: 0 auto;
}

#guest {
  margin-left: 15em;
}

.navigation-items {
  width: 48em;
  height: 60px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
  margin: auto 2.1em;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  background-color: #6c5ce7;
}

.navigation-items a:hover,
a.active {
  background: #a29bfe;
  color: #6c5ce7;
  border-radius: 2em;
}

.navigation-items {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.navigation-items a {
  display: inline-block;
  list-style: none;
  margin: 0 0.8em;
  padding: 0.5em 1em;
  width: 13em;
  text-decoration: none;
  color: #b2bec3;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'American Typewriter', sans-serif;
  font-weight: 400;
}

.navbar-brand img {
  width: 45px;
  margin-right: 10px;
  display: inline-block;
  padding-bottom: 5px;
}

.navbar-brand span {
  text-transform: uppercase;
  font-size: 25px;
  color: #ffffff;
  margin-left: 2em;
}

.custom_nav-container {
  background-color: #6c5ce7;
  z-index: 99999;
  padding: 0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.best-books-wrapper {
  margin-top: 1em;

}

.source-text {
  text-align: center;
  font-style: italic;
}

/*end header section*/


.slider_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: calc(100% - 80px);
  padding: 0;
}

.slider_section .side_heading {
  position: absolute;
  top: 45%;
  right: 25px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.side_heading h5 {
  -webkit-writing-mode: tb-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: tb-rl;
  text-orientation: upright;
  font-family: 'American Typewriter', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.best-books-wrapper h1 {
  margin-top: 1em;
  position: relative;
  z-index: 1;
  text-align: center;
  font-size: 2.5em;
  font-family: 'American Typewriter', sans-serif;
  font-weight: 400;
}

.best-sellers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.form_section h2 {
  text-align: center;
  font-weight: bold;
}

.form_section .form_container {
  padding: 0 45px;
  left: 13em;
}

.form_section .form_container input {
  width: 100%;
  height: 30px;
  margin-top: 10px;
  border: none;
  border-bottom: 1px solid #363535;
  outline: none;
}

.form_section .form_container button,
.form_container button {
  background-color: transparent;
  border: 2px solid #6c5ce7;
  color: #6c5ce7;
  text-transform: uppercase;
  padding: 6px;
  border-radius: 25px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.form_container button:hover {
  background: #a29bfe;
  border-color: #a29bfe;
  color: white;
}

.form_container input {
  width: 100%;
  height: 30px;
  margin-top: 10px;
  border: none;
  border-bottom: 1px solid #363535;
  outline: none;
}

.form_container input::-webkit-input-placeholder {
  color: rgba(35, 9, 9, 0.6);
}

.form_container input:-ms-input-placeholder {
  color: rgba(35, 9, 9, 0.6);
}

.form_container input::-ms-input-placeholder {
  color: rgba(35, 9, 9, 0.6);
}

.form_container input::placeholder {
  color: rgba(35, 9, 9, 0.6);
}

.errorText {
  font-size: 0.7em;
  color: red;
  text-align: center;
}

.button {
  padding: 0.5em;
  display: inline-block;
  border-radius: 2em;
  width: 8em;
  border: 0;
  color: #fff;
  background: #6c5ce7;
}

.your-books {
  border-radius: 4em;
  width: 12em;
  text-align: center;
  margin: 2em;
  font-size: 1em;
}

.books-list {
  margin-top: 1em;
}

.row {
  justify-content: space-evenly;
}

.book-details {
  text-align: center;
}