* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #6a7695;
  line-height: 1.8;
  font-weight: 400;
  font-size: 16px;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.5;
  color: #263b5e;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}

#root {
  flex-wrap: wrap;
  gap: 4em;
}

@font-face {
  font-family: American Typewriter;
  src: url(../fonts/AmericanTypewriterBQ-Bold.otf);
}

/*header section*/
.hero_area {
  height: 80vh;
  position: relative;
}

.hero_area_navigation {
  height: 20vh;

}

/* .hero_area::before {
  content: "";
  position: absolute;
  top: -7.8em;
  left: 1em;
  width: 20%;
  min-width: 150px;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#51b5ef), to(#436bf1));
  background: linear-gradient(to right, #51b5ef, #436bf1);
} */

.header_section .container-fluid {
  padding: 0;
}

.header_section {
  margin: 0 auto;
}

.navigation-items {
  width: 48em;
  height: 60px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
  margin: auto 2.1em;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  background-color: #6c5ce7;
}

.navigation-items a:hover,
a.active {
  background: #a29bfe;
  color: #6c5ce7;
  border-radius: 2em;
  padding: 0.5em 2em;
}

.navigation-items {
  flex: 1;
  display: flex;
  justify-content: space-around;
}

.navigation-items a {
  display: inline-block;
  list-style: none;
  margin: 0 20px;
}

.navigation-items a {
  text-decoration: none;
  color: #b2bec3;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);
  background-size: 18px;
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  margin: 0 40px 0 15px;
  background-position: center;
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'American Typewriter', sans-serif;
  font-weight: 400;
}

.navbar-brand img {
  width: 45px;
  margin-right: 10px;
  display: inline-block;
  padding-bottom: 5px;
}

.navbar-brand span {
  text-transform: uppercase;
  font-size: 25px;
  color: #ffffff;
  margin-left: 2em;
}

.custom_nav-container {
  background-color: #6c5ce7;
  z-index: 99999;
  padding: 0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.best-books-wrapper {
  margin-top: 1em;

}

.source-text {
  text-align: center;
  font-style: italic;
}

/*end header section*/


.slider_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: calc(100% - 80px);
  padding: 0;
}

.slider_section .side_heading {
  position: absolute;
  top: 45%;
  right: 25px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.slider_section .side_heading h5 {
  -webkit-writing-mode: tb-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: tb-rl;
  text-orientation: upright;
  font-family: 'American Typewriter', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.slider_section .detail-box {
  margin-top: 65px;
  position: relative;
}

.slider_section .detail-box h1,
.best-books-wrapper h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3.5rem;
  font-family: 'American Typewriter', sans-serif;
  font-weight: 400;
}

.best-books-wrapper h1 {
  text-align: center;
  font-size: 2em;
}

.slider_section .detail-box .btn-box {
  margin-top: 35px;
}

.slider_section .detail-box .btn-box a {
  text-align: center;
  text-transform: uppercase;
  width: 180px;
}

.slider_section .detail-box .btn-box .btn-1 {
  display: inline-block;
  padding: 10px 0px;
  background-color: #51b5ef;
  color: #ffffff;
  border: 1px solid #51b5ef;
  text-transform: uppercase;
  margin-right: 10px;
}

.slider_section .detail-box .btn-box .btn-1:hover {
  background-color: transparent;
  color: #51b5ef;
}

.slider_section .detail-box .btn-box .btn-2 {
  display: inline-block;
  padding: 10px 0px;
  background-color: #262626;
  color: #ffffff;
  border: 1px solid #262626;
  text-transform: uppercase;
}

.slider_section .detail-box .btn-box .btn-2:hover {
  background-color: transparent;
  color: #262626;
}

.slider_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header-image {
  width: 40em;
  position: relative;
  z-index: -1;
}

.best-sellers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

margin .form_section {
  padding-bottom: 90px;
  margin-top: 35px;
}

.form_section h2 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 45px;
}

.form_section .form_container {
  padding: 0 45px;
  position: relative;
  left: 13em;
}

.form_section .form_container input {
  width: 100%;
  height: 30px;
  margin-top: 10px;
  border: none;
  border-bottom: 1px solid #363535;
  outline: none;
}

.form_section .form_container button {
  background-color: transparent;
  border: 2px solid #51b5ef;
  color: #51b5ef;
  text-transform: uppercase;
  padding: 6px 40px;
  border-radius: 25px;
  margin-top: 45px;
}

.form_container {
  padding: 0 45px;
  margin: auto;
}

.form_container input {
  width: 100%;
  height: 30px;
  margin-top: 10px;
  border: none;
  border-bottom: 1px solid #363535;
  outline: none;
}

.form_container input::-webkit-input-placeholder {
  color: rgba(35, 9, 9, 0.6);
}

.form_container input:-ms-input-placeholder {
  color: rgba(35, 9, 9, 0.6);
}

.form_container input::-ms-input-placeholder {
  color: rgba(35, 9, 9, 0.6);
}

.form_container input::placeholder {
  color: rgba(35, 9, 9, 0.6);
}

.form_container button {
  background-color: transparent;
  border: 2px solid #51b5ef;
  color: #51b5ef;
  text-transform: uppercase;
  padding: 6px 40px;
  border-radius: 25px;
  margin-top: 45px;
}

.errorText {
  font-size: 0.7em;
  color: red;
  text-align: center;
}

.button {
  padding: 0.5em;
  display: inline-block;
  border-radius: 2em;
  width: 8em;
  border: 0;
  color: #fff;
  background: #6c5ce7;
}

.register {
  margin: 2em;
  background: #a29bfe;
}

.register:hover {
  background: #6c5ce7;
}

.login:hover {
  background: #a29bfe;

}

.row {
  justify-content: space-evenly;
}

.book-details {
  text-align: center;
}


/* footer section*/
.footer_section {
  padding: 20px;
  background-color: #252525;
}

.footer_section .social_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 25px 0;
}

.footer_section .social_container h4 {
  color: #a9a6a6;
  font-weight: bold;
}

.footer_section .social_container .social_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_section .social_container .social_box a {
  margin: 0 10px;
}

.footer_section .social_container .social_box a img {
  max-width: 100%;
}

.footer_section p {
  margin: 0;
  text-align: center;
  color: #ffffff;
}

.footer_section a {
  color: #ffffff;
}