form {
    max-width: 50%;
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

label {
    margin-bottom: 8px;
}

input,
textarea,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

